{% extends 'blades/html.njk' %}

{% set site = site | merge({
  'styles': [
    'https://cdn.jsdelivr.net/npm/@anyblades/blades@0/assets/pico.blades.min.css',
    'https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-tomorrow.min.css'
  ],
  'scripts': [
    'https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-core.min.js',
    'https://cdn.jsdelivr.net/npm/prismjs@1/plugins/autoloader/prism-autoloader.min.js'
  ]
}) %}

{% set content_for_header %}
  <link rel="canonical" href="https://blades.ninja/build-awesome-11ty/starters/" />
  <style>
    body > :is(header, footer) {
      padding-block: 2rem;
      text-align: center;
    }
    a[role="button"] {
      text-align: start;
      border-width: 1px 0 0 1px;
      margin: 0 0 0.5rem -1rem;
    }
    /*TODO: move to blades-css */
    .breakout-all > img {
      min-width: auto !important;
    }
    .opt { @media screen and (max-width: 767px) { display: none } }
    .borderless th { padding-inline-start: 2rem !important }
  </style>
{% endset %}

{% block body %}
  <header>
    <a href="/">Home</a> &nbsp;
    <a href="/blog/">Blog</a>
  </header>
  <main class="container breakout-all">
    <h1>{{ title }}</h1>
    <p><big>{{ description }}</big></p>
    {{ content | safe }}
  </main>
  <footer><hr>Footer</footer>
{% endblock %}
